<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>Sentiment Analyzer</title>
  </head>

  <body>
    <div class="container tall">
      <div class="tab-content">
        <!-----------------Sentiment Analysis Code Start Here-------------------------->
        <div class="row m-3">
          <div class="col-lg-12">
            <h2>Enter the Text to analyze the Sentiment</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 p-3">
            <div class="input-group-lg">
              <label>Enter Text Here</label>
              <form
                action="/predict_sentiment"
                method="post"
                enctype="multipart/form-data"
              >
                <input name="text" class="form-control" placeholder="Text" />
                <input type="submit" />
              </form>
            </div>
          </div>

          <div class="col-md-3">
            <h1>Sentiment</h1>
            <div class="alert alert-primary" role="alert">
              {% if probability %} {{ sentiment }} {% endif %}
            </div>
          </div>

          <div class="col-md-3">
            <h1>Probability</h1>
            <div class="alert alert-primary" role="alert">
              {% if probability %} {{ probability }} {% endif %}
            </div>
          </div>

          <!--Image -->
          <div class="col-sm-6"></div>
          {% if probability %}
          <div class="col-sm-2">
            <h1>Emotion</h1>
            <img src="{{ image }}" alt="Image" />
            {% endif %}
          </div>
        </div>
        <!-------------Sentiment Analysis Code End------------------------->
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
